---
import Layout from '../Layout.astro';
---
<Layout>
  <p>My page content, wrapped in a layout!</p>

  

  <div class="m-5 bg-white rounded p-5 dark:text-black">
    <h2 class="mb-4 text-2xl text-bold">How to use:</h2>
    Github: <a class="text-primary hover:text-secondary" href="https://github.com/saadeghi/theme-change" target="_blank">https://github.com/saadeghi/theme-change</a>
  </div>
</Layout>
