---
import Layout from '../Layout.astro';
---
<Layout>
  <p>My page content, wrapped in a layout!</p>

  
  <div class="m-5">
    <h2 class="mb-4 text-2xl text-secondary font-bold">Select</h2>
    <select data-choose-theme class="focus:outline-none h-10 rounded-xl px- border dark:text-black">
      <option value="light">Light</option>
      <option value="dark">Dark</option>
      <option value="dcyftheme">DCYF</option>
      <option value="bumblebee">Bumblebee</option>
      <option value="cupcake">Cupcake</option>
      <option value="emerald">Emerald</option>
      <option value="valentine">Valentine</option>
      <option value="corporate">Corporate</option>
      <option value="retro">Retro</option>
      <option value="cyberpunk">Cyberpunk</option>
      <option value="aqua">Aqua</option>
      <option value="lofi">lofi</option>
      <option value="dracula">Dracula</option>
      <option value="autumn">Autumn</option>
      <option value="winter">Winter</option>
      <option value="business">Business</option>
      <option value="black">Black</option>
      <option value="acid">Acid</option>
    </select>
  </div>
  <div class="m-5 bg-white rounded p-5 dark:text-black">
    <h2 class="mb-4 text-2xl text-bold">How to use:</h2>
    Github: <a class="text-primary hover:text-secondary" href="https://github.com/saadeghi/theme-change" target="_blank">https://github.com/saadeghi/theme-change</a>
  </div>
</Layout>
